<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Control Escolar Reporteador Global">
    <meta name="author" content="Robert Vega">

    <title>Sistema Global</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.custom.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script src="js/jquery.js"></script>
 
</head>
<body style="background-color: black; background-image:url('img/diademuertos.gif'); background-size: 100% auto; background-repeat : no-repeat; " >
    <div class="container" id="divContenido"  >
        <div class="row" >
            <div class="col-md-offset-4 col-md-4 jumbotron text-center" style="background-color:  #ecf0f1;">
          <img src="img/logoag.png" height="150px" alt="GrupoAG" >
             <!--<i style="font-size: 40px; color:white;"class="fa fa-bars"></i>-->
            <form action="datos/login.php" method="POST">
                <div class="form-login"  >
                    <h3 style="color: #02528E; font-style:bold;" >SISTEMA GLOBAL<br></h3>
                        <?php
                            if(isset($_GET['error']) && $_GET['error']==1){
                                echo '<div class="alert alert-danger" role="alert">Ingrese su <strong>Usuario/Contraseña</strong> correctamente.</div>';
                            }
                            if(isset($_GET['error']) && $_GET['error']==2){
                                echo '<div class="alert alert-danger" role="alert">Problema al <strong>Iniciar sesión</strong>, Intente mas tarde.</div>';
                            }
                            if(isset($_GET['error']) && $_GET['error']==3){
                                echo '<div class="alert alert-danger" role="alert">Problema de <strong>Conexión</strong>, Intente mas tarde.</div>';
                            }
                        ?>
                        <input type="text" name="usuario" class="form-control input-md chat-input" placeholder="usuario " />
                    </br>
                        <input type="password" name="contrasena" class="form-control input-md chat-input" placeholder="contraseña" />
                    </br>
                        <!--<select class="form-control" ng-model="id_corporacion" name="id_corporacion" id="id_corporacion">
                            <option value="" selected>Corporación</option>
                            <option ng-repeat="cop in corporaciones" value="{{corporaciones[$index]['id']}}">{{corporaciones[$index]['nombre']}}</option>
                        </select> -->
                    </br>
                    <div class="wrapper">
                        <span class="group-btn">     
                            <button type="submit" name="Ingresar" class="btn btn-default btn-lg"> Ingresar <i class="fa fa-sign-in"></i></button>
                        </span>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>