<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script src="js/jquery.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/angular_s.js"></script>
        <script src="js/angular_animate.js"></script>
        <script src="js/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
        <script src="js/ng-file-upload.js"></script>
        <script src="js/ng-csv.js"></script>
        <script src="js/scrollglue.js"></script>
        <script src="controller.js"></script>
        <script src="js/dirpagination.js"></script>
</head>

<body id="divContenido"  ng-app="appAyudaAdmin" ng-controller="ctrlAyudaAdmin" ng-init="view='views/seguimientos.html'"  >
 <title ng-bind="title" >Chat de Ayuda</title>
    <div id="wrapper" ng-init="status='';">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: white; color: white; border-color:white;"  role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
           <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: #024699" >
                    <img   ng-click="easteregg1=!easteregg1;" alt="Prepacoppel" src="img/logoag.png" height="20">
                </a>

                <a  ng-click="easterEgg();"  class="navbar-brand" href="#" style="color: white;" >
                    <strong>Panel de Ayuda</strong>
                </a>
            </div>-->
            <!-- Top Menu Items -->
            <!--<ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: #024699; color:white;" ><i class="fa fa-gear"></i>  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li>
                            <a href="logout.php"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>-->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" style="background-color: #182E4C; color: white;">
                <ul class="nav navbar-nav side-nav" style="background-color: #024699; ">
                        <li>
                            <a href="logout.php" style=" color: white;" ><i class="fa fa-fw fa-power-off"></i>Cambia de Corporación</a>
                        </li>
                    <li>
                        <a href="#" ng-click="view='views/seguimientos.html';  GetSeguimientos();" style=" color: white;"><i  class="fa fa-fw fa-comments-o"></i> Chat de Ayuda 
                             <img  ng-show="cargando" src="img/loader.gif" height="30px" >
                                               <img  ng-show="cargando && easteregg1 && easteregg2"  src="img/pinki.gif" height="30px" >
                         </a>  
                    </li>
                    <li >
                        <form class="form-inline"   >
                        <input ng-model="s.$" class="form-control" style="border-radius:0px; "    type="txt" id="texto" name="texto" value="" placeholder="Buscar" >
                        </form>
                    </li>



                      <li ng-class="classSeguimiento[segui.id]" dir-paginate="segui in seguimientos | itemsPerPage:50 | filter:s " 
                      style="background-color:#ecf0f1;"  >
                            <!--<td ng-bind="segui.id_usuario" ></td>
                            <td ng-bind="segui.nombre">Sin Chats</td>
                            <td><label ng-class="segui.online==1 ? 'label label-success' : 'label label-default'" >{{ Estatus[segui.online] }}</label></td>

                            <td ng-bind="segui.fecha">No disponible</td>
                            <td ng-bind="segui.telefono">66778899</td>-->
                            <!--<td ng-bind="segui.asunto">Asunto</td>
                            <td>
                                <label ng-if="segui.status==0" class="label label-default">
                                    En seguimiento
                                </label>
                                <label  ng-if="segui.status==1" class="label label-success">
                                    Solucionado
                                </label>
                                <label ng-if="segui.status>1" class="label label-danger">
                                    No Solucionado
                                </label>
                            </td>-->
                            <!--<td>
                                <button ng-if="segui.archivo" class="btn btn-default" type="button" data-toggle="modal" data-target="#modal_imagen" ng-click="SetCurrent(segui.id,$index)" >
                                     <i style="font-size: 20px;"class="fa fa-comments-o fa-2">
                                    </i>Imagen
                                </button>
                            </td>-->
                            
                                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal_mensajes" ng-click="SetAutoUpdate(segui.id,$index,segui.asunto)" >
                                     <i style="font-size: 20px;"class="fa fa-comments-o fa-2">
                                    </i>
                                    <span ng-bind="segui.chat.length" class="badge"></span>
                                </button>-->

                                <a  ng-class="segui.notif>0 ? ' btn-primary' : ' btn-default'  " type="button" ng-click="SetAutoUpdate(segui.id,$index,segui.asunto)" style=""  >
                                     <label ng-show="segui.online==1" ng-class="segui.online==1 ? 'label label-success' : 'label label-default'" style="border-radius:25px;"  >&nbsp;</label>
                                    <small  ng-show="segui.notif<=0"   ng-bind="segui.nombre" ></small>
                                    <strong  ng-show="segui.notif>0"   ng-bind="segui.nombre" ></strong>
                                    <span ng-if="segui.notif>0" ng-bind="segui.notif" class="badge"></span>
                                             <!--<img ng-if="segui.notif>0" height="20px" src="img/ball4.gif"  >-->
                                            
                                </a>

                                <!--<button style="z-index: 2;" class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal_delete" ng-click="SetCurrent(segui.id,$index)">
                                    <i class="fa fa-times">
                                    </i>
                                </button> -->
                           
                        </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" >

            <div class="container-fluid" ng-include="view" >

 
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
